In [2]:
from flask import Flask, request, jsonify
from flask_sqlalchemy import SQLAlchemy
#from flask_marshmallow import Marshmallow
from sqlalchemy import create_engine
import pandas as pd
import urllib

In [7]:
import io
import seaborn as sns

In [3]:
params = urllib.parse.quote_plus(
    r'Driver={ODBC Driver 17 for SQL Server};Server=tcp:7atom7.database.windows.net,1433;Database=adfolkstest;Uid=adfolks;Pwd=Atoms$41995;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;')
conn_str = 'mssql+pyodbc:///?odbc_connect={}'.format(params)
engine_azure = create_engine(conn_str, echo=True).connect()

2020-12-06 15:28:24,466 INFO sqlalchemy.engine.base.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2020-12-06 15:28:24,467 INFO sqlalchemy.engine.base.Engine ()
2020-12-06 15:28:24,479 INFO sqlalchemy.engine.base.Engine SELECT schema_name()
2020-12-06 15:28:24,481 INFO sqlalchemy.engine.base.Engine ()
2020-12-06 15:28:24,503 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-12-06 15:28:24,505 INFO sqlalchemy.engine.base.Engine ()
2020-12-06 15:28:24,516 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1
2020-12-06 15:28:24,517 INFO sqlalchemy.engine.base.Engine ()
2020-12-06 15:28:24,527 INFO sqlalchemy.engine.base.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2020-12-06 15:28:24,528 INFO sqlalchemy.engine.base.Engine ()

In [4]:
res = pd.read_sql_query('select * from final_report', engine_azure)

2020-12-06 15:28:41,415 INFO sqlalchemy.engine.base.Engine select * from final_report
2020-12-06 15:28:41,416 INFO sqlalchemy.engine.base.Engine ()

In [11]:
res

    pid         product_name  pyear  qty_total  revenue_total
0     1         Asus Watch 3   2018         78         7800.0
1     1         Asus Watch 3   2019        987        98700.0
2     1         Asus Watch 3   2020        108        10800.0
3     2   Impex 8975 speaker   2020         19         4750.0
4     3          Asus R558UQ   2016         40         3360.0
5     3          Asus R558UQ   2020         44         3696.0
6     4            Iphone 11   2019        100       100000.0
7     4            Iphone 11   2020          5         5000.0
8     5  Samsung Galaxy Buds   2015        168       147672.0
9     5  Samsung Galaxy Buds   2020       1000       879000.0
10    6              Airpods   2020        100        10000.0

In [13]:
sns.barplot(
    data=res,
    x="product_name", y="qty_total", size="size",
)

ValueError: Could not interpret input 'smoker'